nano 7.2                                                /etc/systemd/system/cloudflared-tunnel.service                                                         
[Unit]
Description=Cloudflare Tunnel for Dog Stream
After=network.target

[Service]
User=hidalgo-cam
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/hidalgo-cam/.cloudflared/config.yml run dog-stream-tunnel
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
